<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div style="padding-left: 10px">
      <a href="/" class="navbar-brand"> todo's List</a>
    </div>

    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/welcome/lohithpuvvala">Home</a>
      </li>
      <li>
        <a class="nav-link" href="/todos">Todos</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li>
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
